## Peer-graded Assignment: Battle of Neighbourhoods - Week 1¶
By Jordan

### 1. Introduction
### 1.1 Description of the Problem
There are a lot of fantastic restaurants in London – Asian, Middle Eastern, Latin and American cuisine, however, one will struggle to find a place to dine in the finest of West African cuisine: Nigerian, Ghanaian, Cameroonian, Senegalese and more.

### 1.2 Discussion of the Background
A successful restaurant chain in Africa is looking to expand its operations into Europe through London. They want to create a high-end organic African restaurant. Their target is not only West Africans, but they are pro-organic and healthy eating. Since the London demography is so big, my client needs deeper insight from available data in other to decide where to establish the first Europe “palace” restaurant. This company spends a lot on research and provides customers with data insight into the ingredients used at restaurants.

### 1.3 Target Audience
Considering the diversity of London, there is a high multicultural sense. London is a place where different shades live. As such, in the search for an high-end African-inclined restaurant, there is a high shortage. The target audience is broad, it ranges across Londoners, tourists and those who are passionate about organic food.

### 2. Data
### 2.1 Description of Data
This project will rely on public data from Wikipedia and Foursquare.

### 2.1.1 Dataset 1:
In this project, London will be used synonymously with the "Greater London Area". Within the Greater London Area, there are areas that are within the London Area Postcode. The focus of this project will be the neighbourhoods that are within the London Post Code area.

The London Area consists of 32 Boroughs and the "City of London". Data will be from the link - Greater London Area https://en.wikipedia.org/wiki/List_of_areas_of_London

The web scrapped of the Wikipedia page for the Greater London Area data is provided below:

In [2]:
# library for BeautifulSoup
from bs4 import BeautifulSoup

# library to handle data in a vectorized manner
import numpy as np

# library for data analsysis
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# library to handle JSON files
import json
print('numpy, pandas, ..., imported...')

!pip -q install geopy
# conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
print('geopy installed...')
# convert an address into latitude and longitude values
from geopy.geocoders import Nominatim
print('Nominatim imported...')

# library to handle requests
import requests
print('requests imported...')

# tranform JSON file into a pandas dataframe
from pandas.io.json import json_normalize
print('json_normalize imported...')

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
print('matplotlib imported...')

# import k-means from clustering stage
from sklearn.cluster import KMeans
print('Kmeans imported...')

# install the Geocoder
!pip -q install geocoder
import geocoder

# import time
import time

# !conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
!pip -q install folium
print('folium installed...')
import folium # map rendering library
print('folium imported...')
print('...Done')

numpy, pandas, ..., imported...
geopy installed...
Nominatim imported...
requests imported...
json_normalize imported...
matplotlib imported...
Kmeans imported...
folium installed...
folium imported...
...Done

In [3]:
wikipedia_link = 'https://en.wikipedia.org/wiki/List_of_areas_of_London'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:64.0) Gecko/20100101 Firefox/64.0'}
wikipedia_page = requests.get(wikipedia_link, headers = headers)
wikipedia_page

In [4]:
# Cleans html file
soup = BeautifulSoup(wikipedia_page.content, 'html.parser')
# This extracts the "tbody" within the table where class is "wikitable sortable"
table = soup.find('table', {'class':'wikitable sortable'}).tbody

In [6]:
# Extracts all "tr" (table rows) within the table above
rows = table.find_all('tr')

In [7]:
# Extracts the column headers, removes and replaces possible '\n' with space for the "th" tag
columns = [i.text.replace('\n', '')
           for i in rows[0].find_all('th')]

In [8]:
# Converts columns to pd dataframe
df = pd.DataFrame(columns = columns)
df

Empty DataFrame
Columns: [Location, London borough, Post town, Postcode district, Dial code, OS grid ref]
Index: []

In [9]:
# Extracts every row with corresponding columns
# Then appends the values to the create pd dataframe "df"
# Please note that the first row (row[0]) is skipped because it is already the header
for i in range(1, len(rows)):
    tds = rows[i].find_all('td')
    
    
    if len(tds) == 7:
        values = [tds[0].text, tds[1].text, tds[2].text.replace('\n', ''.replace('\xa0','')), tds[3].text, tds[4].text.replace('\n', ''.replace('\xa0','')), tds[5].text.replace('\n', ''.replace('\xa0','')), tds[6].text.replace('\n', ''.replace('\xa0',''))]
    else:
        values = [td.text.replace('\n', '').replace('\xa0','') for td in tds]
        
        df = df.append(pd.Series(values, index = columns), ignore_index = True)

        df

In [10]:
df.head(5)

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [11]:
df = df.rename(index=str, columns = {'Location': 'Location', 'London\xa0borough': 'Borough', 'Post town': 'Post-town', 'Postcode\xa0district': 'Postcode', 'Dial\xa0code': 'Dial-code', 'OS grid ref': 'OSGridRef'})

In [12]:
df.head(5)

,Location,Borough,Post-town,Postcode,Dial-code,OSGridRef
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

Looking the data, under the Borough, there are borough names with []. These are references extracted from the wiki page. So remove these, the following was done:

In [13]:
df['Borough'] = df['Borough'].map(lambda x: x.rstrip(']').rstrip('0123456789').rstrip('['))

In [14]:
df.shape

(533, 6)

In [15]:
df.head(5)

,Location,Borough,Post-town,Postcode,Dial-code,OSGridRef
0,Abbey Wood,"Bexley, Greenwich",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon,CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon,CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

London is big and due to the limitations in the number of calls for the Foursquare API, the following assumptions are made to confine this project to only South East London.

Assumption 1: Where the Postcode are more than one, (for example, in Acton, there are 2 postcodes - W3 and W4), the postcodes are spread to multi-rows and assigned the same values from the other columns.

In [16]:
df0 = df.drop('Postcode', axis=1).join(df['Postcode'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('Postcode'))

In [17]:
df0.head(5)

,Location,Borough,Post-town,Dial-code,OSGridRef,Postcode
0,Abbey Wood,"Bexley, Greenwich",LONDON,020,TQ465785,SE2
1,Acton,"Ealing, Hammersmith and Fulham",LONDON,020,TQ205805,W3
1,Acton,"Ealing, Hammersmith and Fulham",LONDON,020,TQ205805,W4
10,Angel,Islington,LONDON,020,TQ345665,EC1
10,Angel,Islington,LONDON,020,TQ345665,N1

In [18]:
df0.shape

(637, 6)

As seen above, there are separate rows for Postcodes - W3and W4; same goes for the others too.

Assumption 2: From the data, only the 'Location', 'Borough', 'Postcode', 'Post-town' will be used for this project. So they are extracted into a new data frame.

In [19]:
df1 = df0[['Location', 'Borough', 'Postcode', 'Post-town']].reset_index(drop=True)

In [20]:
df1.head(5)

     Location                         Borough Postcode Post-town
0  Abbey Wood             Bexley,  Greenwich       SE2    LONDON
1       Acton  Ealing, Hammersmith and Fulham       W3    LONDON
2       Acton  Ealing, Hammersmith and Fulham       W4    LONDON
3       Angel                       Islington      EC1    LONDON
4       Angel                       Islington       N1    LONDON

In [21]:
df1.shape

(637, 4)

Assumption 3: Now, only the Boroughs with London Post-town will be used for our search of location. Therefore, all the non-post-town are dropped.

In [22]:
df2 = df1
df21 = df2[df2['Post-town'].str.contains('LONDON')]

In [23]:
df21.head(5)

     Location                         Borough Postcode Post-town
0  Abbey Wood             Bexley,  Greenwich       SE2    LONDON
1       Acton  Ealing, Hammersmith and Fulham       W3    LONDON
2       Acton  Ealing, Hammersmith and Fulham       W4    LONDON
3       Angel                       Islington      EC1    LONDON
4       Angel                       Islington       N1    LONDON

In [24]:
df21.shape

(381, 4)

From assumption 3, there are now 380 instances, which is a drop from 638 because of the drop of non-London post-towns.

In [25]:
# Re-assigns the df21 to new dataframe without the Post-town
df3 = df21[['Location', 'Borough', 'Postcode']].reset_index(drop=True)

In [26]:
df3.head(10)

      Location                         Borough Postcode
0   Abbey Wood             Bexley,  Greenwich       SE2
1        Acton  Ealing, Hammersmith and Fulham       W3
2        Acton  Ealing, Hammersmith and Fulham       W4
3        Angel                       Islington      EC1
4        Angel                       Islington       N1
5   Church End                           Brent     NW10
6   Church End                          Barnet       N3
7      Clapham             Lambeth, Wandsworth      SW4
8  Clerkenwell                       Islington      EC1
9    Colindale                          Barnet      NW9

In [27]:
df_london = df3
df_london.to_csv('LondonLocations.csv', index = False)

Assumption 4: Due to its more diverse outlook, proximity to afro-caribbean markets and accessible facilities, only the South East areas of London will be considered for our analysis. The South East areas has postcodes starting with SE.

So, first, we remove the whitesapaces at the start of some of the postcodes and then drop the other non-SE postcodes.

In [28]:
df_london.head(5)

     Location                         Borough Postcode
0  Abbey Wood             Bexley,  Greenwich       SE2
1       Acton  Ealing, Hammersmith and Fulham       W3
2       Acton  Ealing, Hammersmith and Fulham       W4
3       Angel                       Islington      EC1
4       Angel                       Islington       N1

In [29]:
df_london.Postcode = df_london.Postcode.str.strip()

In [30]:
df_london.head(5)

     Location                         Borough Postcode
0  Abbey Wood             Bexley,  Greenwich       SE2
1       Acton  Ealing, Hammersmith and Fulham       W3
2       Acton  Ealing, Hammersmith and Fulham       W4
3       Angel                       Islington      EC1
4       Angel                       Islington       N1

In [31]:
# New dataframe for South East London postcodes - df_se
df_se = df_london[df_london['Postcode'].str.startswith(('SE'))].reset_index(drop=True)

In [32]:
df_se.head(10)

         Location              Borough Postcode
0      Abbey Wood  Bexley,  Greenwich       SE2
1    Crofton Park             Lewisham      SE4
2       Crossness               Bexley      SE2
3  Crystal Palace              Bromley     SE19
4  Crystal Palace              Bromley     SE20
5  Crystal Palace              Bromley     SE26
6    Denmark Hill            Southwark      SE5
7        Deptford             Lewisham      SE8
8         Dulwich            Southwark     SE21
9    East Dulwich            Southwark     SE22

Now, our data is ready. df_se is the data we will focus on.

Assumption 5: This assumption will focus on the demography of London where there are predominantly more multicultural groups. According to the proportion of races by London borough as seen in Demography of London, the top 5 Black Africans or Caribbeans are shown below:

In [33]:
demograph_link = 'https://en.wikipedia.org/wiki/Demography_of_London'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:64.0) Gecko/20100101 Firefox/64.0'}
demograph_page = requests.get(demograph_link, headers = headers)
soup1 = BeautifulSoup(demograph_page.content, 'html.parser')
table1 = soup1.find('table', {'class':'wikitable sortable'}).tbody
rows1 = table1.find_all('tr')
columns1 = [i.text.replace('\n', '')
           for i in rows1[0].find_all('th')]

In [34]:
columns1

['Local authority', 'White', 'Mixed', 'Asian', 'Black', 'Other']

In [35]:
demo_london = pd.DataFrame(columns = columns1)

In [36]:
demo_london.head(5)

Empty DataFrame
Columns: [Local authority, White, Mixed, Asian, Black, Other]
Index: []

In [37]:
for j in range(1, len(rows1)):
    tds1 = rows1[j].find_all('td')
    if len(tds1) == 7:
        values1 = [tds1[0].text, tds1[1].text, tds1[2].text.replace('\n', ''.replace('\xa0','')), tds1[3].text, tds1[4].text.replace('\n', ''.replace('\xa0','')), tds1[5].text.replace('\n', ''.replace('\xa0',''))]
    else:
        values1 = [td1.text.replace('\n', '').replace('\xa0','') for td1 in tds1]
        
        demo_london = demo_london.append(pd.Series(values1, index = columns1), ignore_index = True)

        demo_london

In [38]:
demo_london['Black'] = demo_london['Black'].astype('float')

In [39]:
demo_london_sorted = demo_london.sort_values(by='Black', ascending = False)

In [40]:
demo_london_sorted.head(5)

   Local authority White Mixed Asian  Black Other
22        Lewisham  53.5   7.4   9.3   27.2   2.6
27       Southwark  54.3   6.2   9.4   26.9   3.3
21         Lambeth  57.1   7.6   6.9   25.9   2.4
11         Hackney  54.7   6.4  10.5   23.1   5.3
7          Croydon  55.1   6.6  16.4   20.2   1.8

Assumption 6: Our next assumption will be based on the top 5 areas will significantly high "Black", "Mixed" and other races. These leaves us with Lewisham, Southwark, Lambeth, Hackney and Croydon.

In [41]:
df_se

,Location,Borough,Postcode
0,Abbey Wood,"Bexley, Greenwich",SE2
1,Crofton Park,Lewisham,SE4
2,Crossness,Bexley,SE2
3,Crystal Palace,Bromley,SE19
4,Crystal Palace,Bromley,SE20
5,Crystal Palace,Bromley,SE26
6,Denmark Hill,Southwark,SE5
7,Deptford,Lewisham,SE8
8,Dulwich,Southwark,SE21
9,East Dulwich,Southwark,SE22
10,Elephant and Castle,Southwark,SE1
11,Elephant and Castle,Southwark,SE11
12,Elephant and Castle,Southwark,SE17
13,Eltham,Greenwich,SE9
14,Falconwood,"Bexley, Greenwich",SE9
15,Bankside,Southwark,SE1
16,Forest Hill,Lewisham,SE23
17,Gipsy Hill,Lambeth,SE19
18,Gipsy Hill,Lambeth,SE27
19,Greenwich,Greenwich,SE10
20,Grove Park,Lewisham,SE12
21,Herne Hill,Lambeth,SE24
22,Hither Green,Lewisham,SE13
23,Honor Oak,Lewisham,SE23
24,Horn Park,"Greenwich, Lewisham",SE12
25,Kennington,"Lambeth, Southwark",SE11
26,Kidbrooke,Greenwich,SE3
27,Ladywell,Lewisham,SE4
28,Ladywell,Lewisham,SE13
29,Lambeth,Lambeth,SE1
30,Lee,Lewisham,SE12
31,Lewisham,Lewisham,SE13
32,Beckenham,Bromley,SE20
33,Longlands,Bexley,SE9
34,Maze Hill,Greenwich,SE10
35,Middle Park,Greenwich,SE9
36,Mottingham,Bromley,SE9
37,New Cross,Lewisham,SE14
38,New Eltham,Greenwich,SE9
39,Newington,Southwark,SE1
40,Newington,Southwark,SE17
41,Nunhead,Southwark,SE15
42,Oval,Lambeth,SE11
43,Bellingham,Lewisham,SE6
44,Peckham,Southwark,SE15
45,Penge,Bromley,SE20
46,Plumstead,Greenwich,SE18
47,Rotherhithe,Southwark,SE16
48,Selhurst,Croydon,SE25
49,Shooter's Hill,Greenwich,SE18
50,Bermondsey,Southwark,SE1
51,South Norwood,Croydon,SE25
52,Southend,Lewisham,SE6
53,St Johns,Lewisham,SE4
54,Bexleyheath (also Bexley New Town),Bexley,SE2
55,Surrey Quays,Southwark,SE16
56,"Sydenham (also Lower Sydenham, Upper Sydenham)","Lewisham, Bromley",SE26
57,Sydenham Hill,"Lewisham, Southwark",SE21
58,Sydenham Hill,"Lewisham, Southwark",SE26
59,Thamesmead,"Bexley, Greenwich",SE28
60,Thamesmead,"Bexley, Greenwich",SE2
61,Tulse Hill,Lambeth,SE24
62,Tulse Hill,Lambeth,SE27
63,Upper Norwood,Croydon,SE19
64,Walworth,Southwark,SE17
65,Well Hall,Greenwich,SE9
66,Blackheath,Lewisham,SE3
67,West Heath,Bexley,SE2
68,Blackheath Royal Standard,Greenwich,SE3
69,Blackheath Royal Standard,Greenwich,SE12
70,West Norwood,Lambeth,SE27
71,Westcombe Park,Greenwich,SE3
72,Woolwich,Greenwich,SE18
73,Brixton,Lambeth,SE5
74,Brockley,Lewisham,SE4
75,Camberwell,Southwark,SE5
76,Catford,Lewisham,SE6
77,Charlton,Greenwich,SE7
78,Anerley,Bromley,SE20
79,Chinbrook,Lewisham,SE12

In [42]:
df_se_top = df_se[df_se['Borough'].isin(['Lewisham', 'Southwark', 'Lambeth', 'Hackney', 'Croydon'])].reset_index(drop=True)

Just to be sure with syntax, Hackney is in North London, so it will not be returned. The resulting dataframe is df_se_top.

In [43]:
df_se_top.head(5)

       Location    Borough Postcode
0  Crofton Park   Lewisham      SE4
1  Denmark Hill  Southwark      SE5
2      Deptford   Lewisham      SE8
3       Dulwich  Southwark     SE21
4  East Dulwich  Southwark     SE22

In [44]:
df_se_top.shape

(46, 3)

In [45]:
df_se.shape

(80, 3)

So we have our working dataframe to be df_se_top to work with.

### 2.1.2 Dataset 2:
In obtaining the location data of the locations, the Geocoder package is used with the arcgis_geocoder to obtain the latitude and longitude of the needed locations.

These will help to create a new dataframe that will be used subsequently for the South East London areas.

In [46]:
# Geocoder starts here
# Defining a function to use --> get_latlng()'''
def get_latlng(arcgis_geocoder):
    
    # Initialize the Location (lat. and long.) to "None"
    lat_lng_coords = None
    
    # While loop helps to create a continous run until all the location coordinates are geocoded
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, London, United Kingdom'.format(arcgis_geocoder))
        lat_lng_coords = g.latlng
    return lat_lng_coords
# Geocoder ends here

Testing the function above for a sample postcode - SE2.

In [47]:
sample = get_latlng('SE2')
sample

[51.492450000000076, 0.12127000000003818]

And reverse geocoding this, using the geocodefarm geocoder, gives the following:

In [48]:
gg = geocoder.geocodefarm(sample, method = 'reverse')
gg

<[OK] Geocodefarm - Reverse [Harrow Manor Way, London, SE2 9SW, United Kingdom]>

So, we are certain that the geocoder works fine. So we proceed to applying it to our dataframe df_se_top.

In [49]:
start = time.time()

postal_codes = df_se_top['Postcode']    
coordinates = [get_latlng(postal_code) for postal_code in postal_codes.tolist()]

end = time.time()
print("Time of execution: ", end - start, "seconds")

Time of execution:  29.214716911315918 seconds

Then we proceed to store the location data - latitude and longitude as follows. The obtained coordinates are then joined to df_se_topto create new data frame.

In [50]:
df_se_loc = df_se_top

# The obtained coordinates (latitude and longitude) are joined with the dataframe as shown
df_se_coordinates = pd.DataFrame(coordinates, columns = ['Latitude', 'Longitude'])
df_se_loc['Latitude'] = df_se_coordinates['Latitude']
df_se_loc['Longitude'] = df_se_coordinates['Longitude']

In [51]:
df_se_loc.head(5)

       Location    Borough Postcode  Latitude  Longitude
0  Crofton Park   Lewisham      SE4  51.46268   -0.03558
1  Denmark Hill  Southwark      SE5  51.47480   -0.09313
2      Deptford   Lewisham      SE8  51.48114   -0.02467
3       Dulwich  Southwark     SE21  51.44100   -0.08897
4  East Dulwich  Southwark     SE22  51.45256   -0.07076

In [52]:
df_se_loc.to_csv('SELondonLocationsCoordinates.csv', index = False)

In [53]:
df_se_loc.shape

(46, 5)

### 2.1.3 Dataset 3:
The Foursquare API will be used to obtain the South East London Area venues for the geographical location data . These will be used to explore the neighbourhoods of London acordingly.

The venues within the neighbourhoods of South East London like the areas's restaurants and proximity to amenities would be correlated. Also, accessibility and ease of supplies would be considered as it relates to venues.

To use the Foursquare API, we define the Foursquare Credentials and Version as shown below:

Please note that due to privacy, the personal Foursquare Credential has been stored in a .json <fsquarecredential.json> and called appropriately as shown below:

In [ ]:
import json
filename = 'fsquarecredential.json'
with open(filename) as f:
    data = json.load(f)

In [ ]:
CLIENT_ID = data['credential']['CLIENT_ID'] # your Foursquare ID
CLIENT_SECRET = data['credential']['CLIENT_SECRET'] # your Foursquare Secret
VERSION = data['credential']['VERSION'] # Foursquare API version

## 3. Methodology
### 3.1 Data Exploration
### 3.1.1 Single Neighbourhood
An initial exploration of a single Neighbourhood within the London area was done to examine the Foursquare workability. The Lewisham Borough postcode SE13 and Location - Lewisham is used for this.

In [54]:
# Resets the current index to a new
se_df = df_se_loc.reset_index().drop('index', axis = 1)

In [55]:
se_df.shape

(46, 5)

In [56]:
se_df

               Location    Borough Postcode  Latitude  Longitude
0          Crofton Park   Lewisham      SE4  51.46268   -0.03558
1          Denmark Hill  Southwark      SE5  51.47480   -0.09313
2              Deptford   Lewisham      SE8  51.48114   -0.02467
3               Dulwich  Southwark     SE21  51.44100   -0.08897
4          East Dulwich  Southwark     SE22  51.45256   -0.07076
5   Elephant and Castle  Southwark      SE1  51.49960   -0.09613
6   Elephant and Castle  Southwark     SE11  51.49084   -0.11108
7   Elephant and Castle  Southwark     SE17  51.48764   -0.09542
8              Bankside  Southwark      SE1  51.49960   -0.09613
9           Forest Hill   Lewisham     SE23  51.44122   -0.04764
10           Gipsy Hill    Lambeth     SE19  51.41990   -0.08808
11           Gipsy Hill    Lambeth     SE27  51.43407   -0.10375
12           Grove Park   Lewisham     SE12  51.44759    0.01350
13           Herne Hill    Lambeth     SE24  51.45529   -0.09928
14         Hither Green   Lewisham     SE13  51.46196   -0.00754
15            Honor Oak   Lewisham     SE23  51.44122   -0.04764
16             Ladywell   Lewisham      SE4  51.46268   -0.03558
17             Ladywell   Lewisham     SE13  51.46196   -0.00754
18              Lambeth    Lambeth      SE1  51.49960   -0.09613
19                  Lee   Lewisham     SE12  51.44759    0.01350
20             Lewisham   Lewisham     SE13  51.46196   -0.00754
21            New Cross   Lewisham     SE14  51.47489   -0.04038
22            Newington  Southwark      SE1  51.49960   -0.09613
23            Newington  Southwark     SE17  51.48764   -0.09542
24              Nunhead  Southwark     SE15  51.47218   -0.06779
25                 Oval    Lambeth     SE11  51.49084   -0.11108
26           Bellingham   Lewisham      SE6  51.43722   -0.01868
27              Peckham  Southwark     SE15  51.47218   -0.06779
28          Rotherhithe  Southwark     SE16  51.49574   -0.05157
29             Selhurst    Croydon     SE25  51.39925   -0.07414
30           Bermondsey  Southwark      SE1  51.49960   -0.09613
31        South Norwood    Croydon     SE25  51.39925   -0.07414
32             Southend   Lewisham      SE6  51.43722   -0.01868
33             St Johns   Lewisham      SE4  51.46268   -0.03558
34         Surrey Quays  Southwark     SE16  51.49574   -0.05157
35           Tulse Hill    Lambeth     SE24  51.45529   -0.09928
36           Tulse Hill    Lambeth     SE27  51.43407   -0.10375
37        Upper Norwood    Croydon     SE19  51.41990   -0.08808
38             Walworth  Southwark     SE17  51.48764   -0.09542
39           Blackheath   Lewisham      SE3  51.47138    0.02338
40         West Norwood    Lambeth     SE27  51.43407   -0.10375
41              Brixton    Lambeth      SE5  51.47480   -0.09313
42             Brockley   Lewisham      SE4  51.46268   -0.03558
43           Camberwell  Southwark      SE5  51.47480   -0.09313
44              Catford   Lewisham      SE6  51.43722   -0.01868
45            Chinbrook   Lewisham     SE12  51.44759    0.01350

In [57]:
se_df.loc[se_df['Location'] == 'Lewisham']

    Location   Borough Postcode  Latitude  Longitude
20  Lewisham  Lewisham     SE13  51.46196   -0.00754

Now, let's use the Lewisham with the index location 20.

In [58]:
se_df.loc[20, 'Location']

'Lewisham'

In [59]:
lewisham_lat = se_df.loc[20, 'Latitude']
lewisham_long = se_df.loc[20, 'Longitude']
lewisham_loc = se_df.loc[20, 'Location']
lewisham_postcode = se_df.loc[20, 'Postcode']

print('The latitude and longitude values of {} with postcode {}, are {}, {}.'.format(lewisham_loc,
                                                                                         lewisham_postcode,
                                                                                         lewisham_lat,
                                                                                         lewisham_long))

The latitude and longitude values of Lewisham with postcode SE13, are 51.46196000000003, -0.007539999999949032.

And then, let's create the GET request URL, and then the url is named.

In [ ]:
# Credentials are provided already for this part
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 2000 # define radius
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    lewisham_lat, 
    lewisham_long, 
    radius, 
    LIMIT)

# displays URL
url

In [ ]:
results = requests.get(url).json()
results

From the results, the necessary information needs to be obtained from items key. To do this, the get_category_type function is used from the Foursquare lab.

In [ ]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

The result is then cleaned up from json to a structured pandas dataframe as shown below:

In [ ]:

venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

In [ ]:
nearby_venues

In [ ]:
nearby_venues_lewisham_unique = nearby_venues['categories'].value_counts().to_frame(name='Count')

In [ ]:
nearby_venues_lewisham_unique.head(5)

Interestingly, even though there are restaurants are the Lewisham area, they are not even in the top 5 venues. It should be noted that since we are limited by data availability, our perspectives will be on what we have.

In [ ]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

So in this case, 100 venues were returned for Lewisham.

### 3.1.2 Multiple Neighbourhoods
Now let's explore (Multiple) Neighborhoods in the South East London area.

To do this, the function getNearbyVenues is used and it's created to repeat the same process for all neighborhoods.

In [ ]:
def getNearbyVenues(names, latitudes, longitudes, radius=2000):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

The created function - getNearbyVenues is then used on each neighbourhoods. And creates a new dataframe called london_venues.

In [ ]:
se_venues = getNearbyVenues(names=se_df['Location'],
                                   latitudes=se_df['Latitude'],
                                   longitudes=se_df['Longitude']
                                  )

In [ ]:
se_venues.shape

In [ ]:
len(se_venues)

In [ ]:
se_venues['Neighbourhood'].value_counts()
se_venues.to_csv('se_venues.csv')

In [ ]:
se_venues.head(5)

The number of venues returned for each neighbourhoods is then explored as follows:

In [ ]:
se_venues.groupby('Neighbourhood').count()

The next step is to check how many unique categories can be returned for the venues. See as follows:

In [ ]:
print('There are {} uniques categories.'.format(len(se_venues['Venue Category'].unique())))

There are 186 uniques categories.

In [ ]:
se_venue_unique_count = se_venues['Venue Category'].value_counts().to_frame(name='Count')

In [ ]:
se_venue_unique_count.head(5)

In [ ]:
se_venue_unique_count.describe()

### 3.2 Clustering
For this section, the neighbourhoods in South East London will be clustered based on the processed data obtained above.

### 3.2.1 Libraries
To get started, all the necessary libraries have been called in the libraries section above.

### 3.2.2 Map Visualization
Using the geopy library, the latitude and longitude values of London is obtained.

In [60]:
address = 'London, United Kingdom'

geolocator = Nominatim(user_agent="ln_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of London are 51.5073219, -0.1276474.

The folium library is then used to obtain the coordinates.

In [ ]:
# df_london_coordinates
map_london = folium.Map(location = [latitude, longitude], zoom_start = 12)
map_london

The South East London neighbourhoods are then superimposed on top as shown below, still using the foliumlibrary. Please note due to the location of the South East Loondon, you might need to zoom to see the superimposed areas.

In [ ]:
# Adding markers to map
for lat, lng, borough, loc in zip(se_df['Latitude'], 
                                  se_df['Longitude'],
                                  se_df['Borough'],
                                  se_df['Location']):
    label = '{} - {}'.format(loc, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7).add_to(map_london)  
    
display(map_london)

In [ ]:
type(se_df)

### 3.2.3 Analysing Each Neighborhood
In this section, the objective is to check and explore the venues in each neighbourhood.

In [ ]:
# one hot encoding
se_onehot = pd.get_dummies(se_venues[['Venue Category']], prefix = "", prefix_sep = "")